@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.menu__burger {
  display: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 3rem;
  height: 1.9rem;
}
.menu__burger::before, .menu__burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 0.3rem;
  border-radius: 1rem;
  background: #fff;
}
.menu__burger::before {
  top: 0;
  box-shadow: 0 0.8rem 0 #fff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.menu__burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
@media (max-width: 685px) {
  .menu__burger {
    display: block;
  }
}
.menu__checkbox {
  position: absolute;
  visibility: hidden;
}
.menu__checkbox:checked + .menu__burger::before {
  top: 0.5rem;
  transform: rotate(45deg);
  box-shadow: 0 0 0 #fff;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.menu__checkbox:checked + .menu__burger::after {
  bottom: 1.1rem;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu__checkbox:checked ~ .menu__list {
  transform: translateX(0);
  border-bottom: 0.2rem solid #286690;
  box-shadow: 0 0 2rem 0.3rem #286690;
}
.menu__list {
  top: 0;
  right: 0;
  position: absolute;
  display: grid;
  padding: 5rem 0;
  margin: 0;
  background: #272733;
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 100%;
}
.menu__item {
  display: block;
  padding: 0.8rem;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
}
.menu__item:hover {
  color: #3e9cdc;
}

header {
  position: relative;
  background: center no-repeat url("../assets/img/background-head.jpg");
  background-size: auto 100%;
}

.header__top {
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.header__top-wrap {
  max-width: 1290px;
  margin: 0 auto;
  gap: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3.75rem;
  box-sizing: border-box;
}
@media (max-width: 685px) {
  .header__top-wrap {
    padding: 2rem 2.75rem;
  }
}
.header__content {
  max-width: 1290px;
  margin: 0 auto;
  padding: 12.7rem 3.75rem 12.7rem;
  box-sizing: border-box;
  color: #000;
}
.header__content h1 {
  max-width: 48.75rem;
}
@media (max-width: 967px) {
  .header__content {
    padding-bottom: 8.7rem;
  }
}
@media (max-width: 685px) {
  .header__content {
    padding: 10rem 2.75rem 5.7rem;
  }
}
.header__text {
  font-size: 1.25rem;
  margin-bottom: 5rem;
}
.header__text-title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
@media (max-width: 967px) {
  .header__text {
    margin-bottom: 4rem;
    font-size: 1.4rem;
  }
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}
.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__item {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 0.3rem;
}
.header__item::before {
  content: "-";
  position: absolute;
  top: 0.001rem;
  left: 0;
}
.header__item:last-child {
  margin-bottom: 0;
}

.logo {
  max-width: 15.4rem;
}

.navigation__list {
  display: flex;
  gap: 0 3.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__item {
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media (max-width: 685px) {
  .navigation {
    display: none;
  }
}

input[type=email],
input[type=text] {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 1.125rem;
  color: #000;
  padding: 0.75rem 0.6rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease;
}
input[type=email]::placeholder,
input[type=text]::placeholder {
  color: #272733;
}
input[type=email]:hover,
input[type=text]:hover {
  border-color: #3e9cdc;
}
input[type=email]:focus-visible, input[type=email]:focus, input[type=email]:active,
input[type=text]:focus-visible,
input[type=text]:focus,
input[type=text]:active {
  color: #fff;
  border-color: #3d4050;
  background: #3a3c4c;
}
input[type=email]:focus::placeholder,
input[type=text]:focus::placeholder {
  color: #fff;
}
@media (max-width: 685px) {
  input[type=email],
  input[type=text] {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
}

.order {
  text-align: center;
}
.order__desc {
  font-size: 1.125rem;
  color: #bbb;
  margin-bottom: 4.7rem;
}
@media (max-width: 685px) {
  .order__desc {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
}
.order__steps {
  display: flex;
  gap: 1.9rem;
  margin-bottom: 5rem;
  position: relative;
}
@media (max-width: 685px) {
  .order__steps {
    flex-direction: column;
  }
}
.order__step {
  flex-grow: 1;
  flex-basis: 0;
}
@media (max-width: 685px) {
  .order__step {
    width: 100%;
  }
}
.order__step:last-child .order__icon::before {
  display: none;
}
.order__icon {
  width: 6.25rem;
  height: 6.25rem;
  background: #3e9cdc;
  border: 5px solid #286690;
  border-radius: 100%;
  margin: 0 auto 1.25rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__icon::before {
  content: "";
  width: 6.9rem;
  height: 0.4rem;
  position: absolute;
  top: 50%;
  right: -125%;
  background: center no-repeat url("../assets/img/icons/dots.svg");
  background-size: 100% auto;
  z-index: -1;
}
@media (max-width: 685px) {
  .order__icon {
    margin: 0 auto 1rem;
  }
  .order__icon::before {
    display: none;
  }
}
.order__text {
  font-size: 1rem;
  max-width: 11.75rem;
  margin: 0 auto;
}
@media (max-width: 685px) {
  .order__text {
    font-size: 1.4rem;
    max-width: 20rem;
  }
}
.order__form {
  gap: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__inputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.9rem;
  width: 100%;
}
.order__inputs input {
  width: 100%;
}
@media (max-width: 685px) {
  .order__inputs {
    flex-direction: column;
  }
}
.order .btn {
  width: 23.125rem;
  font-size: 0.9rem;
  padding: 0.95rem 1.9rem;
}
@media (max-width: 685px) {
  .order .btn {
    font-size: 1.2rem;
    width: 100%;
  }
}

.select-container {
  width: 100%;
  max-width: 23rem;
}
@media (max-width: 685px) {
  .select-container {
    max-width: 100%;
    margin-bottom: 0;
  }
}

.select {
  position: relative;
  width: 100%;
}
.select__header {
  padding: 0.73rem 0.9rem 0.73rem 0.6rem;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  color: #000;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.select__header:hover {
  border-color: #3e9cdc;
}
.select__header.active {
  color: #fff;
  border-radius: 3px 3px 0 0;
  border-color: #3d4050;
  background: #3a3c4c;
}
@media (max-width: 685px) {
  .select__header {
    font-size: 1.5rem;
  }
}
.select__arrow {
  width: 1.125rem;
  height: 1.125rem;
  transition: transform 0.3s ease;
}
.select__arrow path {
  transition: all 0.3s ease;
}
.select__arrow.active {
  transform: rotate(180deg);
}
.select__arrow.active path {
  stroke: #fff;
}
.select__options {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  border-radius: 0 0 3px 3px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 10;
}
.select__options.active {
  max-height: 11.25rem;
  overflow-y: auto;
  border: 1px solid #3d4050;
  background-color: rgba(39, 39, 51, 0.9);
}
.select__options::-webkit-scrollbar {
  background: transparent;
  width: 0.4rem;
}
.select__options::-webkit-scrollbar-button {
  display: none;
}
.select__options::-webkit-scrollbar-track {
  background: #3d4050;
  border-radius: 3px;
}
.select__options::-webkit-scrollbar-thumb {
  background: #3e9cdc;
  border-radius: 3px;
}
.select__option {
  font-size: 1.125rem;
  text-align: left;
  color: #fff;
  padding: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.select__option:hover, .select__option.selected {
  color: #3e9cdc;
}

.range {
  width: 66.6%;
  text-align: left;
  position: relative;
  line-height: 1.25;
}
.range__label {
  font-size: 1.125rem;
}
@media (max-width: 685px) {
  .range__label {
    font-size: 1.2rem;
  }
}
.range__track {
  position: absolute;
  top: 2.7rem;
  background: #e6e6e7;
  border-radius: 5px;
  height: 0.4rem;
  width: 100%;
  z-index: -1;
}
@media (max-width: 685px) {
  .range__track {
    top: 2.6rem;
  }
}
.range__input {
  width: 100%;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  accent-color: #3e9cdc;
  overflow: hidden;
  margin: 0;
}
.range__input::-webkit-slider-thumb {
  height: 1.4rem;
  width: 1.4rem;
  box-shadow: 0 0 0 3px inset #286690;
  border-radius: 10px;
}
.range__input::-webkit-scrollbar-trac {
  opacity: 1;
}
.range__output {
  position: absolute;
  bottom: 2.4rem;
  right: 0;
  font-size: 1.125rem;
}
.range__output::after {
  content: " %";
}
@media (max-width: 685px) {
  .range {
    width: 100%;
  }
}

.attach-file {
  width: 32.5%;
  max-width: 24.6rem;
}
.attach-file__input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.attach-file__input-button {
  background: #fff;
  border: 2px solid #3e9cdc;
  border-radius: 3px;
  color: #000;
  padding: 0.75rem 0.6rem;
  box-sizing: border-box;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.attach-file__input-button:hover {
  cursor: pointer;
  background: #3e9cdc;
  border-color: #fff;
  color: #fff;
  transform: translateY(-2px);
}
.attach-file__input-button svg {
  margin-right: 0.3em;
}
.attach-file__input-button-text {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
@media (max-width: 685px) {
  .attach-file__input-button-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 685px) {
  .attach-file {
    width: 100%;
    max-width: 100%;
  }
}

footer {
  background: #3d4050;
}

.footer {
  max-width: 1290px;
  margin: 0 auto;
  padding: 2rem 3.75rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  gap: 1rem;
}
.footer__items {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.footer__items--center {
  color: #c3c3c3;
}
@media (max-width: 1160px) {
  .footer__items {
    gap: 1.4rem;
  }
}
.footer__item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
@media (max-width: 1160px) {
  .footer__item {
    gap: 0.3rem;
  }
}
@media (max-width: 685px) {
  .footer {
    flex-direction: column;
    gap: 2.5rem;
    padding: 3.5rem 2.75rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .footer__items {
    order: 1;
  }
  .footer__items--center {
    order: 2;
  }
}

.separator {
  border-left: 1px solid #c3c3c3;
  height: 1.125rem;
}
@media (max-width: 685px) {
  .separator {
    display: none;
  }
}

@media (max-width: 685px) {
  .copyrigth {
    order: 3;
  }
}

html {
  overflow-x: hidden;
  font-size: 16px;
}
@media (max-width: 1160px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 967px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 685px) {
  html {
    font-size: 10px;
  }
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  box-sizing: border-box;
  background: #272733;
  color: #fff;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}
h1 span,
h2 span {
  color: #3e9cdc;
}

h1 {
  font-size: 3rem;
  margin-bottom: 5.6rem;
}
@media (max-width: 967px) {
  h1 {
    font-size: 2.7rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 685px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 1.9rem;
}
@media (max-width: 967px) {
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 685px) {
  h2 {
    font-size: 1.7rem;
  }
}

a, a:link, a:visited, a:focus, a:active {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #3e9cdc;
}

.btn {
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: #3e9cdc;
  border-radius: 4px;
  padding: 0.9rem 1.9rem;
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: center;
  min-width: 11.5rem;
  transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  color: #2a2b30;
  background: #fff;
  border-color: #6f6d7b;
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(0);
}
.btn--white {
  color: #2a2b30;
  background: #fff;
  border-color: #6f6d7b;
}
.btn--white:hover {
  color: #fff;
  background: #3e9cdc;
  border-color: #fff;
}
@media (max-width: 685px) {
  .btn {
    font-size: 1.2rem;
  }
}

section {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 3.75rem;
  box-sizing: border-box;
}
@media (max-width: 685px) {
  section {
    padding: 0 2.75rem;
  }
}

main {
  margin: 7.3rem 0 9.4rem;
  background: center no-repeat url("../assets/img/background-main.png");
  background-size: auto 100%;
}
@media (max-width: 967px) {
  main {
    margin: 4.5rem 0 6.4rem;
  }
}

.icon {
  stroke: none;
  fill: currentColor;
}
.icon--order {
  width: 1.8em;
  height: 1.8em;
}
.icon--footer {
  width: 1.6em;
  height: 1.6em;
  fill: #3e9cdc;
}
.icon--arrow {
  width: 1.1em;
  height: 1.1em;
}
.icon--attach-file {
  width: 0.8em;
  height: 0.8em;
}

/*# sourceMappingURL=main.css.map */
